#main-header{
    background-color:white !important;
    box-sizing:border-box;
    z-index:1;
    position:static;
}
.nav-icon-word img{
    display:flex;
    margin:20px;
    width:270px;
}
#nav-links{
    justify-content:center;
    margin-right:10px;
}
#nav-links ul li{
    margin:0 13px;
}
#nav-links ul li a{
    font-size:17px !important;
    font-weight:400;
    position:relative;
    color:black;
} 
@media (min-width: 768px){
    .header-btn-input{
        width:50%;
    }
}
@media (max-width: 768px){
    .header-btn-input{
        width:90%;
        margin:10px;
    }
}
@media (max-width: 1200px){
    .nav-icon-word img{
        width:200px;
    }
}
@media (min-width: 992px){
    .active{
        border-bottom:2px solid blue !important;
        color:black !important;
    }
    #nav-links ul li a::before{
        content:"";
        position:absolute;
        bottom:0;
        left:0;
        width:0;
        height:2px;
        background-color: blue;
        transition:width 0.5s ease;
    }
    #nav-links ul li a:not(.active):not(.contact li a):hover::before{
        width:100%;
    }
    .header-btn-input{
        width:30%;
    }
}
@media (max-width: 992px){
    #nav-links{
        margin-top:20px;
        padding:15px !important;
        position:relative;
        z-index:3;
    }
    #nav-links ul li a{
        padding-bottom:5px !important;
        font-size:16px !important;
        font-weight:400;
    }
    #nav-links {
        position: absolute;
        top: 70px;
        right: 10px;
        width: 250px;
        background: white;
        border-radius: 10px;
        padding:10px !important;
        line-height:30px !important;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
    }
}
#nav-btn{
    border:none !important;
}
#search-btn{
    background-color:white !important;
    border:none !important;
    outline: none !important;
}
.search-input{
    border:none;
    padding-left:6px;
}
.search-input:focus{
    outline: none;
}
.header-btn-input{
    display:flex;
    justify-content:center;
    border:1px solid rgb(155, 153, 153);
    border-radius:40px;
    height:40px;
    overflow: hidden;
}